@import url("https://fonts.googleapis.com/css?family=Crimson+Text|Julius+Sans+One|Oswald");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');


@font-face {
  font-family: 'MyFont';
  src: local('MyFont'), url("./fonts/HARRYP__.TTF") format('truetype');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body, html {
  height: 100%;
}

.login, .welcome, .signup {
  background-image: url("https://images.ctfassets.net/usf1vwtuqyxm/3qDq1So6CseO6ek4MyuE0a/41f1755b77c83e22252a91e31297447c/FiliusFlitwick_PM_B1C10M2_CharmsClass_Moment.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'MyFont'
}

.welcome-text{
  display: block;
  margin: auto;
  width: 100%;
  max-width: 1400px;
  justify-content: left;
  text-align: center;
  padding-top: 20px;

}
#welcome-header{
  display: block;

  margin-left: 610px;
  width: 100%;
  max-width: 1400px;
  padding-top: 90px;
}

/* Sorting Hat */
.sstart{
  background-image: url("https://static.tumblr.com/a96c2a38b7ce7f76b1b41b83a91dc637/gjlyoqi/c3Eo0hi7c/tumblr_static_tumblr_static_bbg02y5vu1w0os8c88804gsow_focused_v3.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}


.sorting_question{
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'MyFont';
  width: '100rem';
  animation: fadeInAnimation ease 1.5s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
}

.welcome, .login, .signup, .assignment-div, #user-home-container, .student-info-div{
  animation: fadeInAnimation ease 3.5s; 
  animation-iteration-count: 1; 
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation { 
  0% { 
      opacity: .3; 
  } 
  100% { 
      opacity: 1; 
   } 
} 

#card{
  display: block;
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width:100%;
  max-height:100%;
  position:absolute;
  top: 400px;
  left:50%;
  transform:translate(-50%,-50%)
}

#answer-image{
  height: 200px;
}

/* HouseResult */
.house-result{
  background-image: url("https://static.tumblr.com/a96c2a38b7ce7f76b1b41b83a91dc637/gjlyoqi/c3Eo0hi7c/tumblr_static_tumblr_static_bbg02y5vu1w0os8c88804gsow_focused_v3.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

#house-logo{
  max-width: 300px;
  display: block;
  margin: auto;
  width: 100%;
  
}

.house-text {
  max-width: 300px;
  display: block;
  margin: auto;
  width: 100%;
}

/* Character Picker */
#char-picker-title{
  display: block;
  margin: auto;
  width: 100%;
  max-width: 600px;
  justify-content: center;
  text-align: center
}


/* User Home  */
#user-home-container{
  background-color: #79758f;
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/7e740078-f753-4701-a779-c7124d72087f/d6wp92t-7ff97c7e-628e-4697-a71c-d313169f12d3.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvN2U3NDAwNzgtZjc1My00NzAxLWE3NzktYzcxMjRkNzIwODdmXC9kNndwOTJ0LTdmZjk3YzdlLTYyOGUtNDY5Ny1hNzFjLWQzMTMxNjlmMTJkMy5qcGcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.Gyn48h39Om03UQZlK-6qdCTi0Sd0yOoDG42QLc4Re2U");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 35px;
}

.user-home-text{
  color: white;
}

/* Teacher Home */
#teacher-home-container{

  background-image: url("https://i.pinimg.com/originals/f5/ff/a1/f5ffa13a78d00ef583a25af71f010307.jpg");
  height: 120vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 30px;
}

.student-info-page{
  justify-content: center;
  text-align: center;
  display: block;
  margin: auto;
  width: 100%;
}

.student-info-div{
  background-image: url("https://img.buzzfeed.com/buzzfeed-static/static/2018-07/23/10/enhanced/buzzfeed-prod-web-03/enhanced-21484-1532355642-6.jpg");
  height: 150vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 30px;
}

/* https://i.skyrock.net/5243/73575243/pics/2894218385_1.jpg */
/* https://www.deviantart.com/xxtayce/art/Pottermore-Background-Great-Hall-Floating-Candles-417722401 */

/* Assignment Page */

.assignment-div{
  background-color: #291514;
  background-image: url("https://lh3.googleusercontent.com/proxy/-FVta__drChae5nkJZzadk3CD1kyIe_AH6HqiSujjh1wMkdeUl5FKBbnIW9PbC24Yhm1J0iWA_RVg_R00cDFIYP1bZuBlQBDD_Q8orjzYd1qLlcScS8JsmZZ5kFhPImU"), url("https://www.transparenttextures.com/patterns/purty-wood.png");
  height: 160vh;
  background-size: cover;
  padding-top: 200px;
}

.assignment-content{
  display: block;
  margin: auto;
  max-width: 700px;
  justify-content: center;
  text-align: center
}



.example {
  opacity: 0.01;
}



